.btn {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #343a40;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-decoration: none;
    margin-bottom: 8px;
    &:hover {
      background-color: #23272b;
      border-color: #1d2124;
      cursor: pointer;
    }
}